.caja-carruselakt{
    padding: 10px;
    grid-area:cabecera;
    background-color: lightblue;
}
.indexSection{
    background-color: #E5E5E5;
    padding: 0px;
    margin: 0px;
}
.carrusel{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}