
@media only screen and (max-width:320px) {
    .titulo_vi-mi{
      padding-top: 10px;
      text-align:center;
      font-family: 'Black Ops One', cursive;
      color:#333333;
      font-size: 27px;
    }
    .h2-mantenimientos{
      font-size: 14px;
    }
    .titulo_medio{
        text-align: center;
        font-family: 'Black Ops One', cursive;
        color:#333333;
        font-size: 30px;
    } 
    .caja-carrusel {
        width: 100%; 
    }
    
}